* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a.btn {
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding: .7rem;

    font-size: 1.33rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;

    color: black;
    background: #16ff99;
}

a.btn:hover {
    background: #16ff9a92;
}

a.btn.outline {
    background: transparent;
    border: 1px solid black;
}

a.btn.outline:hover {
    background: #f0f0f0;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color:black;
}

#menuButton {
    font-size: 3rem;
    margin: 0 2rem;    
}

#logo {
    display: flex;
    align-items: center;
}

#logo h1 {
    display:inline;
}

#logo img {
    width: 150px;
}

section h1 {
    font-size: 4rem;
    text-align: center;
    padding: 4rem 0;
}

section p.lede {
    font-size: 1.8rem;
    text-align: center;
}

section.hero {
    padding: 8rem 1rem;
}

section.video {
    background: #ccc; ;

}

section.video img {
    padding:50px;
    position: relative;
    top:-100px;
    /* margin-top: -6rem; */
}

section.communities p {
    font-size: 1.6rem;
    text-align: center;
    margin: 3rem 0;
    line-height: 2.4rem;
}

section.signup {
    /* border: 1px solid #16ff99; */
    min-height: 300px;
    background-image: url('images/flow/5f6294c0c7a8cd3df9b1c908_pattern-bg.png');
    background-size: cover;
    background-position: center center;
    padding: 1rem 3rem;
}

section.signup p {
    text-align: left;
    margin-top:2rem;
    margin-bottom: 0.5rem;
}

section.signup form {
    display: flex;
    justify-content: center;
}

input[type="email"] {
    font-size: 1.5rem;
    padding:1.5rem;
    border:none;
    outline: none;  
    flex: 4; 
}

input[type="submit"] {
    background-color: black;
    color:white;
    font-size: 1.5rem;
    padding:1.5rem;
    margin:0;
    border:none;
    flex: 1; 
}
