* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color:black;
}

#menuButton {
    font-size: 3rem;
    margin: 0 2rem;    
}

#logo {
    display: flex;
    align-items: center;
}

#logo h1 {
    display:inline;
}

#logo img {
    width: 150px;
}

section h1 {
    font-size: 4rem;
    text-align: center;
    padding: 4rem 0;
}

section p.lede {
    font-size: 1.5rem;
    text-align: center;
}

section.hero {
    padding: 6rem 1rem;
}

a.btn {
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding: .7rem;

    font-size: 1.33rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;

    color: black;
    background: #16ff99;
}

a.btn:hover {
    background: #16ff9a92;
}

a.btn.outline {
    background: transparent;
    border: 1px solid black;
}

a.btn.outline:hover {
    background: #f0f0f0;
}